.App {
  background-color: #2A664D;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.title-container {
  background-color: #202430;
  border-radius: 10px;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  margin:auto;
}

#page-title {
  font-size: 48pt;
  font-family: 'Playfair Display SC', serif;
}

button {
  background-color: #00234B;
  color: white;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 15px;
}

button:hover {
  background-color: #869AA4;
}

h1 {
  font-size: 36pt;
  color: #D5C7AC;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.review {
  background-color: #58402F;
  width: 90%;
  text-align: left;
  border: 1px solid #8B5E3C;
  padding: 15px;
  border-radius: 25px;
}

.review h2 {
  font-size: 24pt;
  color: #F3D3B7;
}

.review p {
  color: #CCCCCC;
  font-size: 16pt;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.review-form label {
  color: #D3B88C;
  font-weight: bold;
}

.review-form input,
.review-form textarea {
  width: 150px;
  padding: 5px;
  margin-top: 5px;
}

.button-container {
  display: flex;
  gap: 10px;
}

#new-book-button {
  margin: 10px;
}