body {
  background-color: #2A664D;
}

h1 {
  font-size: 48pt;
  color: #D5C7AC;
  font-family: 'Playfair Display SC', serif;
}

.header-icon {
  width: 100%;
  max-width: 350px;
  height: auto;
}

.header-icon-right {
  transform: scaleX(-1);
}

.header-container {
  z-index: 0;
  background-image: url(/public/images/bookshelf.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  height: 340px;
}

#book-header-container {
  background-image: url(/public/images/bookshelf.jpg);
}

#game-header-container {
  background-image: url(/public/images/arcade.gif);
}

.toolbar {
  display: flex;
  justify-content: center;
  padding: 15px;
  gap: 15px;
}

.title-container {
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 400px; 
}

#book-title-container {
  background-color: #00234B;
  width: 400px;
}

#game-title-container {
  background-color: #cd1b9c;
  width: 500px;
}

button {
  background-color: #00234B;
  color: white;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 15px;
}

button:hover {
  background-color: #003F5C;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.review {
  background-color: #58402F;
  width: 100%;
  text-align: left;
  padding: 15px;
  border-radius: 25px;
}

label {
  color: white;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.review h2 {
  font-size: 24pt;
  color: #F3D3B7;
}

.review p {
  color: #CCCCCC;
  font-size: 16pt;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  display: flex;
  gap: 10px;
}

/* need to eventually move these to own css page */
#login-page {
  text-align: center;
}

.login-form {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.login-form input {
  width: 10%;
}

.home {
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center child elements horizontally */
  justify-content: center; /* Center child elements vertically */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}

.home-screen-icon {
  width: 150px;
  height: auto;
}

#arcade-cabinet-icon {
  transform: scaleX(-1);
}

.home-screen-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #58402F;
  border-radius: 10px;
  width: 75%;
}

h2 {
  font-weight: normal;
}

.login-button {
  margin: 15px;
}

/* Carousel CSS */
.custom-carousel {
  width: 750px;
  height: 345px;
  overflow: hidden;
}

.custom-carousel img {
  width: 100%;
  height: 100%;
}

/* Custom Navbar */
.custom-navbar {
  background-color: #00234B;
  border: none;
}

.custom-navbar .nav-link{
  color: #D5C7AC;
}

/* Review Form */
.review-form {
  background-color: #58402F;
  border-radius: 25px;
  width: 85%;
  margin-bottom: 35px;
}

#username {
  color: #D5C7AC;
  font-size: 16pt;
}