body {
  background-color: #2A664D;
}

h1 {
  font-size: 48pt;
  color: #D5C7AC;
  font-family: 'Playfair Display SC', serif;
}

.walking-book {
  width: 275px;
  height: auto;
}

#walking-book-right {
  transform: scaleX(-1);
}

.header-container {
  z-index: 0;
  background-image: url(/public/images/bookshelf.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  height: 340px;
}

.toolbar {
  display: flex;
  justify-content: center;
  padding: 15px;
  gap: 15px;
}

.title-container {
  background-color: #00234B;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  max-height: 100px; 
}

button {
  background-color: #00234B;
  color: white;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 15px;
}

button:hover {
  background-color: #9b0707;
}

.reviews, .review-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.review, .review-form{
  background-color: #58402F;
  width: 85%;
  text-align: left;
  border: 1px solid #8B5E3C;
  padding: 15px;
  border-radius: 25px;
}

.review-form {
  width: 45%;
  left: 50%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 25px;
  justify-content: center;
  gap: 25px;
}

label {
  color: white;
}

input, textarea {
  width: 100px;
  padding: 10px;
  border: 1px solid #8B5E3C;
  border-radius: 5px;
  background-color: #ffffff;
}

input[name=isbn] {
  width: 100px;
}

input[name="title"] {
  width: 175px
}

input[name="release_year"], input[name="ranking"] {
  width: 55px
}

textarea[name="review"] {
  width: 685px;
  height: 100px;
  resize: none;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.review h2 {
  font-size: 24pt;
  color: #F3D3B7;
}

.review p {
  color: #CCCCCC;
  font-size: 16pt;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  display: flex;
  gap: 10px;
}

/* need to eventually move these to own css page */
#login-page {
  text-align: center;
}

.login-form {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.login-form input {
  width: 10%;
}

/* navbar css */
#navbar {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 15px;
}

.home {
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center child elements horizontally */
  justify-content: center; /* Center child elements vertically */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}

.home-screen-icon {
  width: 150px;
  height: auto;
}

#arcade-cabinet-icon {
  transform: scaleX(-1);
}

.home-screen-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #58402F;
  border-radius: 10px;
  width: 75%;
}

h2 {
  font-weight: normal;
}